<p><%= @resource.name %>様</p>

<p>monegeをご利用いただきありがとうございます。　</br>
   パスワードの再設定のお申し込みを受け付けました。</p>

<p>下記のリンクよりパスワード変更手続きをしてください。</p>

<p><%= link_to 'Change my password', edit_user_password_url(@resource, reset_password_token: @token) %></p>


<p>内容に心当たりのない方は、お手数をおかけ致しますがこのままメールを削除してください。</p>
