<div id="particles-js"></div>
<div class ="container-fluid">
  <div class="row">
    <div class ="col-7 offset-1">
      <h2 class= "headline mt-5">参考にしたユーザ一覧</h2>
        <% if @users.exists? %>
          <%= render 'public/users/index', users: @users %>
        <% else %>
          <h3 class="text-center mt-5">ユーザーはいません</h3>
        <% end %>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
  particlesJS.load('particles-js', '../../../assets/particles.json', function() {
     
        });
</script>