<div class="container-fluid">
    <div class ="row">
      <div class= "sclo col-12 mx-auto ">
          <div id="wrapper">
            <div class="ms-left">
	        	<div class="ms-section" id="left1">
                    <h1 class="TextTyping">〜お金と真摯に向き合おう〜MONEGE</h1>
                    <div class="particle" id="pt1"></div>
                    <!--particle は枯れ葉など -->
                </div>
                <section class="ms-section" id="left2">
                    <div class="sp-top"></div>
		        	<div class="sp-bottom">
			            <h2>Women's Collection</h2>
			        </div>
                </section>
	        	<section class="ms-section" id="left3">
                    <div class="sp-top"></div>
	   	        	<div class="sp-bottom">
	        		<h2>Men's Collection</h2>
                   	</div>
                </section>
	            	<div class="ms-section" id="left4">
	        		<div class="sp-top"></div>
	        		<div class="sp-bottom"></div>
                </div>
        		<div class="ms-section" id="left5">
	        		<div class="sp-top"></div>
	        		<div class="sp-bottom"></div>
                </div>
	        	<section class="ms-section" id="left6">
	        		<div class="sp-bottom">
	        		<h2>Contact</h2>
	        	    </div>        
                </section>
            </div>
            
            <div class="ms-right">
                <div class="ms-section" id="right1">
                    <div class="scrolldown1"><span>Scroll</span></div>
                </div>
                <div class="ms-section" id="right2">
		           <!--/right2--></div>

		        <div class="ms-section" id="right3">
	        	<!--/right3--></div>
		
	        	<div class="ms-section" id="right4">
	        	<!--/right4--></div>
    
            	<div class="ms-section" id="right5">
	        	<!--/right5--></div>
				
	        	<div class="ms-section" id="right6">
	        	<!--/right6--></div>
            </div>
        </div>
          
          
         
      </div>
    </div>
 </div>