<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div id="load">
    <div id = "load_text"></div>
    <div class = "loader_cover loader_cover-up"></div>
    <div class = "loader_cover loader_cover-down"></div>
</div>
<div id="multiscroll">
  <div class="ms-left">
	  <div class="ms-section " id="left1">
		  <div class="text ">
        <p class="sub-title mt-5">〜お金と真摯に向き合う〜</p>
        <h1 class="title ">MONEGE</h1></div>
          <% if user_signed_in? %>
            <div class ="bottom ">
              <div><%= link_to "マイページ", users_my_page_path(current_user) ,class: "gradient4" %></div>
              <div><%= link_to "ログアウト", destroy_user_session_path,method: :delete ,class: "gradient4" %></div>
            </div>
          <% else %>
            <div class ="bottom">
              <div class="nav-link gradient4 " data-toggle="modal" data-target="#signUpModal">新規登録</div>
              <div class="nav-link gradient4" data-toggle="modal" data-target="#logInModal">ログイン</div>
              <div><%= link_to "ゲスト", users_guest_sign_in_path, method: :post ,class: "gradient4" %></div>
            </div>
          <% end %>
    </div>
		<div class="ms-section text-center" id="left2">What is </br>the </br>MONEGE ?</div>
		<div class="ms-section" id="left3">
		  <div class="sp-top"></div>
			<div class="sp-bottom"></div>
		</div>
		<div class="ms-section" id="left4">
		  <div class="sp-top"></div>
			<div class="sp-bottom"></div>
		</div>
		<div class="ms-section" id="left5">
		  <div class="sp-top"></div>
			<div class="sp-bottom"></div>
		</div>
	</div>
	<div class="ms-right">
		<div class="ms-section"id="right1"></div>
		<div class="ms-section"id="right2">
		    <p class="text-center">
		    manegeとは家計簿アプリ</br>
		    日々のお金の流れを管理し、自身のお金の使い方を見直そう</p>
		    
		</div>
		<div class="ms-section"id="right3"></div>
		<div class="ms-section"id="right4"></div>
		<div class="ms-section"id="right5"></div>
	</div>
</div>


<script>
$(function () {
	$(document).ready(function() {
	$('#multiscroll').multiscroll({

    sectionsColor: ['#ff5f45', '#0798ec', '#fc6c7c', '#fc6c7c', '#fc6c7c'],
    anchors: ['first', 'second', 'third', 'forth', 'fifth'],
    
  });
});
});

</script>
 
