.ms-section{
  color: black;
  padding: 5%;
  
  color: white;
  font-weight: bold;
  font-color: black;
}

.text {
  position: absolute;
  top: 30%;
  
 
}

.title {
  font-family: cursive;
  font-size: 4em;
}

.sub-title {
  font-family: serif;
  font-size: 2em;
}

.bottom {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  margin-left: 20%;
 
}




#left1 {
  position: relative;
  background-color:rgba(255,255,255,0.4);
  background-size: 100% 100%;
  background-image: url("../../images/left1.jpg");
  
}



#left2 {
  font-size: 6em;
  background-size: 100% 100%;
  position: relative;
  padding: 30%;
}

.lefttitle {
  font-size: 60px;
}



#left3 {
  background-image: url("../../images/family.jpg");
  background-size: 100% 100%;
}

#left4 {
  background-image: url("../../images/income.jpg");
  background-size: 100% 100%;
}


#left5 {
  background-image: url("../../images/user_index.jpg");
  background-size: 100% 100%;
}

#right1 {
  background-image: url("../../images/right1.jpg");
  background-size: 100% 100%;
  
}

#right2 {
  padding: 20%;
  background-size: 100% 100%;
}

#right3 {
  background-image: url("../../images/house.jpg");
  background-size: 100% 100%;
}

#right4 {
  background-image: url("../../images/mypage.jpg");
  background-size: 100% 100%;
}

#right5 {
  background-image: url("../../images/follow.jpg");
  background-size: 100% 100%;
}

.text_right {
  
}




@media screen and (max-width:550px){
	


/*全体のボックスについている余白をリセット*/
.ms-section{
	padding:0;
}



/*右エリアを横幅100%にして画像＋テキストを出す設定*/
.ms-left{
	width: 100%!important;
}

.ms-right{
	display: none;
}


/*右エリア上部画像設定*/
    
#left1{
    background: url("../../images/image0.jpg")  center;
    background-size:cover;
}



#left3 .sp-top{
  background: url("../../images/family.jpg") no-repeat top center;
	background-size: 100% 100%;
    height: 50vh;
}

#left3 .sp-bottom{
  background: url("../../images/house.jpg") no-repeat top center;
	background-size: 100% 100%;
  height: 50vh;
}
    
#left4 .sp-top{
	background: url("../../images/income.jpg") no-repeat top center;
	background-size: 100% 100%;
    height: 50vh;
}
    
#left4 .sp-bottom{
	background: url("../../images/mypage.jpg") no-repeat top center;
	background-size: 100% 100%;
    height: 50vh;
}

#left5 .sp-top{
	background: url("../../images/user_index.jpg") no-repeat top center;
	background-size: 100% 100%;
    height: 50vh;
}
    
#left5 .sp-bottom{
	background: url("../../images/follow.jpg")no-repeat center;
	background-size: 100% 100% ;
    height: 50vh;
}


/*右エリア下部テキスト余白設定*/
.sp-bottom{
	padding:20px;
}

}