// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#load {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background:#C0C0C0;
  text-align: center;
  color: #fff;
}

#load_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform : translate(-50%, -50%);
  color: #fff;
  width : 100% ;
}

.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #333;
  transition: all .2s cubic-bezier(.04, .435, .315, .9);
  transform: scaleY(1);
}

.loader_cover.up {
  transform-origin: center top;
}

.loader_cover.down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}

.coveranime {
  transform: scaleY(0);
}

.slider {
  height: 100vh;
  width: 100%;
  display: table;
  background-image: url("../../images/image0.jpg");
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: 100% 100%;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.title {
  font-family: cursive;
}

sub-title {
  font-family: serif;
}

.gradient4 {
  /*ボタンの形状*/
  display: inline-block;
  padding: 8px 18px;
  border-radius: 30px;
  text-decoration: none;
  border: 1px solid #fa6c9f;
  color: #fa6c9f;
  outline: none;

  transition: all 0.4s ease-out;
}


.gradient4:hover {
  /*ボタンの形状*/
  border-color: transparent;
  color: #fff;
  /*背景の色との形状*/
  background: linear-gradient(270deg,#fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size: 200% auto;
  background-position: right center;
  /*ボックスの影*/
  box-shadow: 0 5px 10px rgb(250, 108,159,0.4);
}

.bottom {
  display: flex;
  justify-content: center;
}
