@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(#FFF, #FFC778 40%, #F13F79);
}

.main {
  padding-bottom: 120px;
  box-sizing: border-box;
  min-height: 100vh;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  //padding-top: 300px;

      /* 背景色などは割愛します */

}

.profiler-results {
  display: none;
}


.gnavi {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  list-style: none;
  flex-wrap: wrap;
}

.gnavi a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #333;
}

.gnavi li {
  margin-bottom: 20px;
}

.gnavi li a {
  position: relative;
}

.gnavi li a::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0481A2;
  transition: all .5s;
  opacity: 0;
}

.gnavi li.current a::after,
.gnavi li a:hover::after {
  width: 100%;
  opacity: 1;
}

.gnavi li.current a,
.gnavi li a:hover {
  color: #fff;
}

.btn04 {
  position: relative;
  display: inline-block;
  width: 18%;
  padding: 10px 30px;
  color: #333;
  border: 1px solid #ccc;
  outline: none;
  overflow: hidden;
  margin: auto;
}

.btn04:hover {
  color: #ccc;
  border-color: transparent;
  transition-delay: .6s;
}

.btn04 span {
  display: block;
  z-index : 2;
}

.bordercenter span::before,
.bordercenter span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #333;
  transition: all .3s;
  transform: scale(0,1);
  transform-origin: center;
}

.bordercenter span::before {
  left: 0;
  top: 0;
}

.bordercenter span::after {
  left: 0;
  bottom: 0;
}

.bordercenter:hover span::before,
.bordercenter:hover span::after {
  transform: scale(1,1);
}

.bordercenter::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: linear-gradient(270deg,#fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  transition: all .3s;
  transform: scale(0,1);
  transform-origin: center;
}

.bordercenter:hover::before {
  width: 100%;
  transition-delay: .4s;
  transform: scale(1,1);
}
