@import '~bootstrap/scss/bootstrap';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(#FFF, #FFC778 40%, #F13F79);
}

.profiler-results {
  display: none;
}


