<div class ="container-fluid">
  <div class="row">
    <div class ="col-7 offset-1">
      <h2 class= "headline mt-5">ユーザ一覧</h2>
        <% if @users.exists? %>
          <%= render 'public/users/index',users: @users %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
    </div>
  </div>
</div>


<script>
const users_data = <%== @users_data.to_json %>

$.each(users_data, (i, data) => {
  const element = document.getElementById(`pie-${data['id']}`);
  const category_data = {
    labels: data['category_names'],
    datasets: [
      {
        label: 'カテゴリー表',
        data: data['target_prices'],
      }
    ]
  };
  
  new Chart(element, {
    type: 'pie',
    data: category_data,
    options: {
    }
  });
})
</script>


