<header class="bg-secondary text-light">
   <nav class="nav footer-nav  ">
    <%= link_to families_path class: "nav-link" do%>
    <i class="fas fa-list-ul"></i>
    <p>家族一覧</p>
    <% end %>
    <%= link_to incomes_path, class: "nav-link" do %>
    <i class="fas fa-coins"></i>
    <p>収入</p>
    <% end %>
    <%= link_to categories_path, class: "nav-link" do %>
    <i class="fas fa-lg fa-pencil-alt"></i>
    <p>家計簿作成</p>
    <% end %>
    <%= link_to expenses_path, class: "nav-link" do %>
    <i class="fas fa-chart-bar"></i>
    <p>支出</p>
    <% end %>


  </nav>            <!--customersログイン時のヘッダー-->
</header>